
.studentList {
    width: 250px;
    height: 30px;
    background-color: antiquewhite;
}


#name {
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

#surname {
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
}

.addingStudentDiv {
    border: 1px solid saddlebrown;
    display: inline-grid;
    padding: 20px;
}

.wrapperDiv {
    width: 200px;
    margin: 0 auto;
}

.myStudentList {
    text-align: center;
    list-style: none;
}

.studentListAddLessonButton {

    float: right;

}


.studentListDeleteButton {
    float: right;
    border-radius: 30px;
    background-color: aquamarine;
}


.lessonListDiv {
    display: none;
    margin-top: 100px;
    border: 3px solid black;
    padding: 30px;
}

.lessonsList {
    width: 100px;
    background-color: greenyellow;
    padding: 10px;
    border-radius: 7px;
    margin-top: 5px;
}